<%= tag.div id: dom_id(link), class: "text-sm flex items-end justify-between" do %>

  <%= link_to view_path(link), target: :_blank, data: { turbo: false }, class: "flex flex-col items-start gap-2" do %>
    <%= favicon_image_tag link.domain %>

    <div class="flex items-center gap-1">
      <%= tag.p link.url, class: "font-medium" %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 inline-block">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
      </svg>
    </div>
  <% end %>

  <div class="flex items-center gap-1">
    <%= link_to pluralize(link.views_count, "view"), link, class: "rounded-l-full bg-gray-800 text-white px-2 py-1 text-xs font-medium" %>
    <%= link_to "Copy", link, class: "rounded-r-full bg-gray-300 text-gray-800 px-2 py-1 text-xs font-medium" %>
  </div>
<% end %>