<%= link_to "⟵ Back to links", root_path, class: "text-xs px-2 py-1 bg-gray-300 rounded-full font-medium text-gray-800" %>

<div class="mt-2 mb-4">
    <%= image_tag @link.image, class: "w-full max-w-md h-48 object-cover rounded-lg border border-gray-200 mb-2" if @link.image.present? %>
    <h1 class="text-xl font-bold"><%= @link.title || @link.url %></h1>
    <p class="text-gray-600 text-sm"><%= @link.description %></p>
</div>

<div class="flex flex-col items-start gap-4">
    <%= line_chart @link.views.group_by_day(:created_at, range: 2.weeks.ago..Time.now, expand_range: true).count %>

    <div class="flex items-center justify-between w-full">
        <%= tag.p pluralize(@link.views.count, "view"), class: "text-sm font-medium" %>

        <div class="flex items-center gap-1">
            <%= link_to "Edit URL", edit_link_path(@link), class: "text-xs px-2 py-1 bg-gray-800 rounded-l-full font-medium text-white" %>

            <%= button_tag "Copy link", data: { controller: "clipboard", clipboard_text: view_url(@link) }, class: "bg-gray-300 text-gray-800 px-2 py-1 text-xs font-medium cursor-pointer" %>

            <%= link_to view_path(@link), target: :_blank, data: { turbo: false }, class: "flex items-start gap-1 lex items-start gap-1 px-2 py-1 bg-gray-300 text-gray-800 rounded-r-full font-medium" do %>
                <p class= "text-xs">Visit link</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 inline-block">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                </svg>
            <% end %>
        </div>
    </div>
</div>